<?xml version="1.0" encoding="UTF-8"?>
{{ ansible_managed | comment('xml') }}
{#
  Specific Limitations:

  1. Security Listener is enabled, default umask 0002
  2. APR is enabled, use OpenSSL configuration
  3. NIO2 Connector is used
  4. Common Executor between http and https is configured, with 200 threads
  5. No Shutdown Port is permitted, must use systemd for start/stop
  6. auto deploy and auto-expansion *disabled* - put context.xml for each webapp in conf/Catalina/localhost/<context>.xml instead

  Use this as an example to implement your own
#}
<Server port="-1" shutdown="SHUTDOWN">
  <Listener className="org.apache.catalina.startup.VersionLoggerListener" />
  <Listener className="org.apache.catalina.security.SecurityListener" />
  <Listener className="org.apache.catalina.core.AprLifecycleListener" SSLEngine="on" />
  <Listener className="org.apache.catalina.core.JreMemoryLeakPreventionListener" />
  <Listener className="org.apache.catalina.mbeans.GlobalResourcesLifecycleListener" />
  <Listener className="org.apache.catalina.core.ThreadLocalLeakPreventionListener" />

  <GlobalNamingResources />

  <Service name="Catalina">
    <Connector
      connectionTimeout="20000"
      port="{{ tomcat_secure_http_port }}"
      protocol="org.apache.coyote.http11.Http11Nio2Protocol"
      redirectPort="{{ tomcat_secure_https_port }}"
      server="{{ tomcat_secure_serverinfo }}"
    />

{% if tomcat_ssl_enable is defined and tomcat_ssl_enable | bool %}
    <Connector
      port="{{ tomcat_secure_https_port }}"
      protocol="org.apache.coyote.http11.Http11Nio2Protocol"
      server="{{ tomcat_secure_serverinfo }}"
      SSLEnabled="true"
      >
        <UpgradeProtocol className="org.apache.coyote.http2.Http2Protocol" />
        <SSLHostConfig protocols="TLSv1.2">
          <Certificate certificateKeyFile="conf/localhost-rsa-key.pem"
                       certificateFile="conf/localhost-rsa-cert.pem"
                       certificateChainFile="conf/localhost-rsa-chain.pem"
                       type="RSA" />
        </SSLHostConfig>
    </Connector>

{% endif %}
    <Engine name="Catalina" defaultHost="localhost">
      <Host name="localhost"
        appBase="webapps"
        autoDeploy="{{ tomcat_host_auto_deploy | bool | lower }}"
        deployXML="{{ tomcat_host_deploy_xml | bool | lower }}"
        unpackWARs="{{ tomcat_host_unpack_wars | bool | lower }}"
      >

        <Valve className="org.apache.catalina.valves.ErrorReportValve"
          showServerInfo="false"
        />

{% if tomcat_access_log_enable is defined and tomcat_access_log_enable | bool %}
        <Valve className="org.apache.catalina.valves.AccessLogValve"
          directory="logs"
          pattern="%h %l %u %t &quot;%r&quot; %s %b"
          prefix="localhost_access_log"
          suffix=".txt"
        />

{% endif %}
      </Host>
    </Engine>
  </Service>
</Server>
